<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Admin | Admin</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <main class="products-section">
    <h2 class="products-title">Add New Admin</h2>
    <form action="/admin/create" method="POST" class="product-form">
      <label>
        Name
        <input type="text" name="name" required>
      </label>
      <label>
        Password
        <input type="password" name="password" required>
      </label>
      <button type="submit">Add Admin</button>
    </form>
  </main>
</body>
</html>